html {
font-size: 16px;
}

body {
  background-color: #F0F0F0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
}

/*Header =====================================================================*/

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: auto 24px;
  flex-wrap: wrap;

}

@media only screen and (max-width: 840px) {
  .header nav a {
    font-size:0.8rem;
    padding: 0;
  }
}

@media only screen and (max-width: 716px) {
  .header .logo img {
    height: 2.5rem;
  }

  .header .logo span {
    font-size: 1.5rem;
  }

}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: 'Cantarell', sans-serif;
  color: darkgrey;
  letter-spacing: -1px;
  flex-grow: 1;
}

.logo img {
  height: 3.5rem;
}

.logo span strong {
  font-weight: bold;
  color: dimgrey;
}

nav ul {
  display: flex;
  font-family: 'Cantarell', sans-serif;
  font-size: 1rem;
}

nav ul li {
  padding-left: 1rem;
}

nav ul li a {
  color: dimgrey;
  text-decoration: none;

}

header nav a{
  transition: color 2s;
  transition: font-size 2s;
  transition-timing-function: ease-out;
}

header nav a:hover {
  color: black;
  font-size: 1.5rem;
}

@media only screen and (min-width: 481px) {
  .mobile-header {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  header {
    display: none;
  }

  .mobile-header {
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
  }
}

/*First Banner ===============================================================*/

.first-banner {
  /*background-color: darkseagreen;*/
  background-color: cadetblue;
}

.first-banner .container {
  display: flex;
}

@media only screen and (max-width: 760px) {
  .first-banner .container {
    flex-direction: column;
  }

  .container .study {
    max-width: 100%;
    padding-bottom: 0;
  }

}

@media only screen and (max-width: 480px) {
  .first-banner .container {
    flex-direction: column;
  }

  .container .study {
    max-width: 100%;
    padding:0;
  }

  .study img {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container .learn {

  }

  .column-a {
    display: none;
  }
}

.study {
  max-width: 60%;
  padding: 32px 24px;
}

.study img {
  max-width: 100%;
}

.learn {
  width: ;
  margin: 2rem 24px;
  border: 8px double white;
}

.learn h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-family: 'Playfair Display SC', serif;
  padding-left: 0.5rem;
}

.learn p {
  font-size: 1.2rem;
  margin: 2rem 0;
  padding-left: 0.5rem;
}

.learn h3 {
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem auto;
  background-color: lightseagreen;
  width: 60%;
  padding: 1rem 0;
  border: 2px solid teal;
  border-radius: 1rem;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  transition: background-color 3s;
  transition: transform 4s;
  transition-timing-function: ease-out;

}

.learn h3:hover {
  background-color: #39B7CD;
  transform: rotate(20deg);
}

.learn h3 a {
  text-decoration: none;
  color: black;
}

/*Second Banner ==============================================================*/
.second-banner {
  background-color: cadetblue;
}

.second-banner .container {
  display: flex;
  padding-top: 2rem;
}

.second-banner .container .column-a {
  max-width: 60%;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 760px) {
  .second-banner .container {
    flex-direction: column;
    padding-top: 0;
  }

  .second-banner .container .column-a {
    max-width: 100%;
  }

}

.column-a .reading img {
  max-width: 100%;
}

.column-a .quote {
  margin: 32px 24px;
}

.quote {
  border: 8px double white;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.quote h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.quote p {
  margin-bottom: 1.5rem;
}

.quote h4 {
  font-family: 'Dosis', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.second-banner .container .column-b {
  max-width: 40%;
  padding-left: 1rem;
}

@media only screen and (max-width: 760px) {
  .second-banner .container .column-b {
    max-width: 100%;
    padding-left:0;
  }

  .column-b .date {
    margin-left: 1rem;
  }

  .column-b .date h2 {
    font-size: 1.5rem;
  }
}

.column-b .pic {
  display: flex;
  max-width: 100%;
  padding: 1rem;
}

.backcol {
  background-color: #96CDCD;
}

.colback {
  background-color: #ADEAEA;
}

.pic .image-1 {
  max-width: 35%;
}

.pic .image {
  max-width: 35%;
}

.image-1 img {
  max-width: 100%;
}

.image img {
  max-width: 100%;
}

@media only screen and (min-width: 481px) {
  .image-mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .second-banner .container .column-b {
    max-width: ;
  }

  .second-banner .container .column-b .pic {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .pic .image-1 {
    max-width: 100%;
    margin: 1rem;
  }

  .pic .image {
    max-width: 100%;
    padding-top: 2rem;
  }

  .image-desktop {
    display: none;
  }

  .date {
    padding-left: 1rem;
  }
}

.date {
  margin: auto 1rem;
  font-family: 'Roboto', sans-serif;
}

.date h2 {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Playfair Display SC', serif;
}

.date h3 {
  font-family: 'Dosis', sans-serif;
  margin: 0.5rem 0;
}

.date a {
  text-decoration: none;
  color: lightseagreen;
}

.date a:hover {
  background-color: black;
  border: 1px solid darkseagreen;

}
/*Third Bannner 'Start Learning' =============================================*/

.third-banner {
  background-color: cadetblue;
}

.third-banner .container {
}

.banner-header h2 {
  text-align: center;
  padding-top: 2rem;
  font-family: 'Playfair Display SC', serif;
  font-size: 2.5rem;
  text-decoration: underline;
}

.start-learning {
  margin: 0 4.5rem;
  padding: 2rem 0;
}

.row {
  display:flex;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 760px) {
  .start-learning {
    margin: 0 auto;
  }
}


@media only screen and (min-width: 481px) {
  .mobile-start-learning {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .start-learning {
    display: none;
  }

  .mobile-start-learning {
    margin: 1rem 1rem 0 1rem;
    padding-bottom: 2rem;
  }

  .mobile-start-learning h3 {
    padding: 1rem 0 1.5rem 1rem;
    margin: 0.5rem 0;
    background-color: #D3D3D3;
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
    opacity: 0.5;
    border-radius: 10px;
    transition: opacity 2s;
    border: 1px red;

  }

  .mobile-start-learning h3:hover {
    opacity: 1;
    border: 8px double white;
  }

  .mobile-start-learning h3 a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.2rem;
  }
}

.subject {
  padding-bottom: ;
  padding-left: ;
  margin: 1rem;
  width: 33%;
}

.subject-img {
  padding-bottom: 1rem;
}

.subject-img img {
  max-width: 100%;
}

.subject-content {
  margin: 1rem;
}

.subject-content h2 {
    padding-bottom: 0.5rem;
    font-family: 'Playfair Display SC', serif;
    font-size: 1rem;
}

.subject-content h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.subject-content p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*Fourth Banner===============================================================*/

.fourth-banner {
  background-color: cadetblue;
}

.content {
  display: flex;
  padding: 2rem 0;
}

@media only screen and (max-width: 480px) {
  .content {
    padding: 0;
  }

  .content .main-article {
    display: none;
  }

  .column-right {
    display: none;
  }

  .content .column-left {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.column-left {
  max-width: 60%;
  padding: 0 1.5rem;
}

.video video {
  width: 100%;
  margin-bottom: 1.5rem;
}

.main-article {
  border: 8px double white;
  padding: 0.5rem 0 2rem 0.5rem;
}

.main-article h2 {
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display SC', serif;
  font-size: 2.5rem;
}

.column-right {
  max-width: 40%;
}

@media only screen and (max-width: 760px) {
  .content {
    flex-direction: column;
  }

  .column-left {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .column-right {
    max-width: 100%;
  }

  .articles .article h2 {
    font-size: 1.5rem;
  }
}

.articles {
  display:flex;
  max-width: 100%;
  padding: 1rem;
}

.image-plan {
  width: 35%;
}

.image-plan img {
  max-width: 100%;

}

.article {
  width: 65%;
  padding-left: 1rem;
  margin: auto 0;
}

.article h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 1rem;
  font-weight: bold;
}

.article h3 {
  font-family: 'Dosis', sans-serif;
  margin: 0.5rem 0;

}

.article a {
    text-decoration: none;
    color: lightseagreen;
    font-family: 'Roboto', sans-serif;
  }

.article a:hover {
  background-color: black;
  border: 1px solid darkseagreen;

}
/*Footer======================================================================*/

footer {
  background-color: cadetblue;
}

.footer {
  display: flex;
  margin: 0 1.5rem 0 1.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-family: 'Cantarell', sans-serif;

}

.copyright {
  display: flex;
  flex-grow: 1;

}

ul a {
  padding-left: 1rem;
  text-decoration: none;
  color: black
}

footer ul a:hover {
  color: white;
}

@media only screen and (max-width: 480px) {
  footer ul a {
    display: none;
  }

  .footer {
    padding: 1rem;
  }
}
